---
import Layout from '../layouts/Layout.astro';
import blogData from "../data/blog-data";
---

<Layout title="Welcome to Astro.">	
	<section class="px-12 my-24 ">
		<h1 class="text-center font-bold text-5xl">Blog Gallery</h1>
		<div class="wrapper">
			<ul class=" my-12 flex flex-wrap gap-x-7 gap-y-8">
				{
					blogData.map((data) => (
						<li class="basis-[31.2%] group md:hover:-rotate-6 transition-all duration-[.4s]">
							<img class="w-1/2 mx-auto	" src="https://irp-cdn.multiscreensite.com/6c91ed27/import/base/1434619549843.LTkwNDQ5MTI1MA.png" alt="hanger image">
							<a class="group" href={data.path} title={data.AuthorName}>
								<figure class="w-full h-64 shadow-lg shadow-gray-400 md:group-hover:brightness-50 rounded-md overflow-hidden">
									<img src={data.image} class="w-full h-full object-cover" alt="blog image">
								</figure>
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</section>
</Layout>
