<section class="my-24"> 
  <div class="w-11/12 mx-[auto]">
    <h1 class="text-center font-bold text-5xl mb-10">About us</h1>
      <figure class="w-full">
          <img src="https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YWJvdXQlMjB1c3xlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60" alt="Blog Image" class="w-full rounded-lg">
      </figure>
      <div class="py-[20px]">
          <p class="text-[#7c7878]  leading-8 tracking-wide pr-[3%] text-[20px] pb-[15px]">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.Voluptatibus saepe asperiores itaque quos quis minima exercitationem explicabo omnis est unde id, ad animi minus temporibus praesentium consequuntur adipisci laborum mollitia neque eos at dolores? Aspernatur non illum aliquid, pariatur libero omnis optio quisquam aperiam cupiditate iste vero facere voluptatum eum!
          </p>
           <p class="text-[#7c7878]  leading-8 tracking-wide pr-[3%] text-[20px] pb-[15px]">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.Voluptatibus saepe asperiores itaque quos quis minima exercitationem explicabo omnis est unde id, ad animi minus temporibus praesentium consequuntur adipisci laborum mollitia neque eos at dolores? Aspernatur non illum aliquid, pariatur libero omnis optio quisquam aperiam cupiditate iste vero facere voluptatum eum!
          </p>
          <p class="text-[#7c7878]  leading-8 tracking-wide pr-[3%] text-[20px] pb-[15px]">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.Voluptatibus saepe asperiores itaque quos quis minima exercitationem explicabo omnis est unde id, ad animi minus temporibus praesentium consequuntur adipisci laborum mollitia neque eos at dolores? Aspernatur non illum aliquid, pariatur libero omnis optio quisquam aperiam cupiditate iste vero facere voluptatum eum!
          </p>
      </div>
  </div>
</section> 